<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sleep Log</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="{{client_id}}">

    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <meta name="google-signin-client_id" content="{{client_id}}">
    <script type="text/javascript">
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                window.location = '{{request.application_url}}/logout';
            });
        }
        function onLoad() {
            gapi.load('auth2', function() {
                gapi.auth2.init();
            });
        }
    </script></div>
</head>
<body>
    {% if view.logged_in is none %}
    <a href="{{request.application_url}}/login">Log In</a>
    {% else %}
    <a href="#" onclick="signOut();">Sign Out</a>
    {% endif %}
</body>
</html>
