{% extends "layout.jinja2" %}

{% block head %}
    <script type="text/javascript">
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                window.location = '{{request.application_url}}/logout';
            });
        }
    </script>
{% endblock head %}

{% block content %}
    <h4>Welcome, {{given}}!</h4>
    <a href="#" onclick="signOut();">Sign Out</a>
{% endblock content %}
