{% extends "layout.jinja2" %}

{% block head %}
    <script type="text/javascript">
        function onSignIn(googleUser){
            var id_token = googleUser.getAuthResponse().id_token;
            document.getElementById("token").value = id_token;
            document.getElementById("loginForm").submit();
        }
    </script>
{% endblock head %}

{% block content %}
    <h1>Login</h1>
    <form id="loginForm" action="{{url}}" method="post" name="loginForm">
        <input id="token" type="hidden" name="token" value="{{token}}">
        <input type="hidden" name="came_from" value="{{came_from}}">
        <input type="hidden" name="form.submitted" value="Log In">
    </form>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
{% endblock content %}
